<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Usuarios</title>
  <meta name="viewport" content="initial-scale=1.0; maximum-scale=1.0; width=device-width;">
</head>

<body>
<div class="table-title">
<h3>Usuarios</h3>
</div>
  <button type="button" (click)="AgregarPersona()">Agregar</button>
  <div>
   <input type="checkbox" (click)="AgregarPersona()" />
  </div>

<table class="table-fill" *ngIf='!alta'>
<thead>
<tr>
<th class="text-left">Id</th>
<th class="text-left">Nombre</th>
<th class="text-left">Apellido</th>
<th class="text-left">foto</th>
<th class="text-left">sexo</th>
<th class="text-left">dni</th>
<th class="text-left">eliminar</th>
<th class="text-left">modificar</th>
</tr>
</thead>
<tbody class="table-hover"  >
<tr *ngFor='let persona of data'  [ngStyle]="{ 'background-color': Color(persona.sexo)}">
<td class="text-left">{{persona.id}}</td>
<td class="text-left">{{persona.nombre}}</td>
<td class="text-left">{{persona.apellido}}</td>
<td><img [ngStyle]="{'width': '100px'}" src="https://pps-tomas.000webhostapp.com/Clase-1/fotos/{{persona.foto}}"></td>
<td class="text-left">{{persona.sexo}}</td>
<td class="text-left">{{persona.dni}}</td>
<td><button (click)="EliminarPersona(persona.id)">Eliminar</button></td>
<td><button (click)="ModificarPersona(persona.id)">Modificar</button></td>
</tr>
</tbody>
</table>
</body>
               
<form *ngIf=alta action="" method="">
  <fieldset>
    <legend>Alta</legend>
    <label for="">Nombre</label>
    <input type="text" />
    <label for="">Apellido</label>
    <input type="text" />
    <label for="">Sexo</label>
    <select name="" id="">
      <option value="1">Femenino</option>
      <option value="2">Masculino</option>
    </select>
    <label for="">contrasena</label>
    <input type="Password" />
    <input type="file" id="foto" (change)="PrevisualizarFoto();"/>
    <input type="submit" value="Enviar" />
  </fieldset>
</form>
<hr/>